<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantguide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_restaurant_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantGuideV1">
        <activity android:name=".ActivityHelp"
            android:theme="@style/Theme.RestaurantGuideV1" />


        <activity android:name=".ActivityRegister" />
        <activity
            android:name=".ActivityPopUpFoodsDescription"
            android:theme="@style/Theme.RestaurantGuide.CustomTheme" />

        <uses-library
            android:name="org.​apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".ActivityRestaurantDescription"
            android:theme="@style/Theme.RestaurantGuide.CustomTheme" />
        <activity android:name=".ActivityListRestaurants" />
        <activity
            android:name=".ActivityCategoires"
            android:theme="@style/Theme.RestaurantGuideV1" />
        android:parentActivityName=".ActivityListRestaurants" />
        <activity
            android:name=".ActivityMenu"
            android:theme="@style/Theme.RestaurantGuideV1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>